body{
    height: min-content;
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#scrolly{
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-padding-bottom: calc(var(--footer-height) + var(--footer-padding) * 0);
}

.menu-content{
    grid-row: 2;
    position: absolute;
}