@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk:wght@600&display=swap');


@font-face {
	font-family:minecraft10;
	src: url(./fonts/minecraft10.ttf);
}
@font-face {
	font-family:notosans;
	src: url(./fonts/NotoSans-bold.ttf);
}

/* global styles */
:root {
	--colour-bg-dark: #2c4d71;
	--colour-bg-normal: #3c4250;
	--colour-bg-light: rgba(0, 0, 0, 0.192);
	--colour-bg-xdark: #2c2e3a;
	--colour-bg-xxdark:#2a3452;
	--colour-bg-xxxdark:rgba(0, 0, 0, 0.3);

	--colour-text-xlight: #a0a7b9;
	--colour-text-light: #7f89a2;
	--colour-text-dark: #6c748b;
	--colour-text-white: #e7e7e7;
	--colour-text-xdark: #24272b;
	--colour-text-orange: #ffb700;
	--colour-text-whiteish: #71b7be;

	--colour-primary: #ffffff;
	--colour-primary-dark: #008299;

	--animation-time: 0.45s;
	--short-animation-time: 0.1s;

	--footer-height: 1.5rem;
	--footer-padding: .4em;

	--footer-logo-colour: rgb(65, 96, 131);
	--footer-background-colour: #343845;
}

body {
	position: relative;
	margin: 0;
	background: var(--colour-bg-normal);
	min-height: 100vh;
	width: 100%;
	font-family: 'minecraft10', notosans, system-ui;
	scroll-behavior: smooth;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
* {
	box-sizing: border-box;
}
body.rad-grad{
	background-image: radial-gradient(#3c4250, #2c2e3a);
}
body.linear-grad{
	background-image: linear-gradient(#2d303a,#353946,#353946,#353946,#353946,#353a49,#363c53,#3a4964);
}

a:focus-visible{
	outline: 2px solid var(--colour-primary);
}
a{
	color: #8ab4f8;
}

button[disabled]{
	pointer-events: none;
}

#dust, .dust{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.notfound-text {
	font-size: 50px;
	color: var(--colour-text-light);
	text-align: center;
	margin-top: 8.5em;
	opacity: 1;
	
}

.fake-img{
	background-image: var(--src);
	background-repeat: no-repeat;
	background-size: contain;
	height:100%;
}

/* header */

header *{
	box-sizing: content-box;
}
header {
	z-index: 15;
	position: sticky;
	top: 0;
}
header .top-bar{
	background-color: var(--colour-bg-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 -2.1em 1em 2em #2c2e3a;
}
header .logo{
	transition: scale var(--short-animation-time);
}

header .logo:hover,
header .logo:focus-visible{
	scale: 1.2;
	outline: none;
}
header .logo:active{
	scale: 1;
}

header .logo:focus-visible > img{
	outline: 3px solid var(--colour-primary);
}

header .logo > img {
	width: 42px;
	font-weight: normal;
	height: 50x;
	display: block;
	padding-left: 0em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

header .title {
	max-width: 50%;
	object-fit: contain;
	color: var(--colour-text-light);
	font-size: 95px;
	margin: 0;
	height: 0.6em;
}

header .menu {
	width: 50px;
	cursor: pointer;
	height: 50px;
}

header .menu>img{
	width: 100%;
	display: block;
}

#menuCheckbox{
	display: none;
}

header .top-bar > a,
header .top-bar > label{
	padding: 1px 10px;
}

/* menu */

.burger-bar{
	transform-origin: center;
	--one-way-animation-time: 0s;
	transition: scale var(--short-animation-time), transform var(--animation-time) ease-in-out 0s, opacity 0s linear var(--one-way-animation-time);
	opacity: 1;
}

.menu{
	overflow: hidden;
}

.menu:focus-visible{
	outline: 2px solid var(--colour-primary);
}
.menu:is(:hover,:focus-visible) .burger-bar{
	scale: 1.15;
}

#menuCheckbox:checked + header .top-bar > label .burger-menu .burger-bar.top{
	transform: rotate(45deg) translate(0,calc(21%));
	opacity: 0;
	--one-way-animation-time: var(--animation-time);
}

#menuCheckbox:checked + header .top-bar > label .burger-menu .burger-bar.mid{
	transform: rotate(45deg) ;
}

#menuCheckbox:checked + header .top-bar > label .burger-menu .burger-bar.low{
	transform: rotate(135deg) translate(0,calc(4 / 18 * -100%));
}

#menuCheckbox:checked + header .top-bar > label .burger-menu{
	/* transform: rotate(0turn); */
	/* transform: rotate(0.25turn); */
	transform: rotate(0.0turn);
	/* transform: rotate(1turn); */
	/* transform: rotate(2turn); */
	/* transform: rotate(3turn); */
	/* transform: rotate(4turn); */
	/* transform: rotate(5turn); */
}

.burger-menu{
	transition: transform var(--animation-time);
	opacity: 1;
	width: 100%;
	color: var(--colour-text-white);
	transform-origin: center;
}

#menuCheckbox:not(:checked) ~ header .menu-content{
	transform: translateY(-100%);
}
header .menu-content{
	display:flex;
	flex-direction: column;
	background:var(--colour-bg-xdark);
	position:absolute;
	right: 0;
	top: 100%;
	z-index: -1;
	width:17em;
	height:min-content;
	border-top: none;
	border-bottom: none;
	transform: translateY(0);
	transition: transform var(--animation-time);
	margin-left: auto;
}
#menuCheckbox:checked ~ header .menu-content{
	animation: slide var(--animation-time);
}
#menuCheckbox ~ header::after{
	content: "";
	background-color: rgba(0, 0, 0, 0.6);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -2;
	transition: opacity var(--animation-time);

	opacity: 0;
	pointer-events: none;
}
#menuCheckbox:checked ~ header::after{
	opacity: 1;
	pointer-events: all;
}
#menuCheckbox:not(:checked) ~ header .menu-content.hidden{
	display: none;
}
@keyframes slide {
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}

.menu-link-button{
	padding: .7em 0;
	width:100%;
	height:min-content;
	font-weight: 100;
	background-color:var(--colour-bg-xdark);
	text-align:center;
	color: var(--colour-text-light);
	font-size: 1.65rem;
	text-decoration: none;
}

.menu-link-button > span{
	display: inline-block;
	transition: scale var(--short-animation-time);
}

.menu-link-button:hover > span,
.menu-link-button:focus-visible > span{
	scale: 1.1;
}
.menu-link-button:hover ,
.menu-link-button:focus-visible {
	background-color: var(--colour-bg-xxdark);
}

.menu-link-button:focus-visible{
	z-index: 20;
}

/* main */

main{
	--gap: 2em;
	padding: var(--gap);
	overflow-x: hidden;
}
[horz], [vert]{
	display: flex;
	gap: var(--gap);
}
[horz] {
	flex-wrap: wrap;
	justify-content: space-around;
}
[vert] {
	flex-direction: column;
	justify-content: flex-start;
}

[component^=panel] {
	background: var(--colour-bg-light);
	font-size: 1.2rem;
	padding: 0.5em;
	padding-top: 0;
	text-decoration: none;
	border-radius: 0.5em;
}

[component^=panel] *{
	cursor: inherit;
}


[component^=panel] h2 {
	text-align: center;
	letter-spacing: .015em;
	font-weight: 100;
	font-size: 2.15rem;
	color: var(--colour-text-light);
}

[component^=panel] p {
	text-align: center;
	size: 1em;
	margin: 0;
	font-size: 1rem;
	color: var(--colour-text-dark);
	font-family: "notosans";
}

/* .panel-link */
[component^=panel-link] {
	--pressed: 0em;

	flex-basis: 17em;
	transition: translate var(--short-animation-time), box-shadow var(--short-animation-time), scale var(--short-animation-time), opacity var(--short-animation-time);
	cursor: pointer;
	border-bottom: .1em solid rgba(255, 255, 255, 0.055);
	border-radius: .5em;
	translate: 0 var(--pressed);
	box-shadow: 0 calc(.4em - var(--pressed)) rgba(0, 0, 0, 0.466);
}
[component^=panel-link]::after{
	content: "";
	width: 100%;
	height: calc(100% + (.45em - var(--pressed)));
	display: block;
	top: 0;
	position: absolute;
	left: 0;
}

[component^=panel-link]:hover,
[component^=panel-link]:focus-visible {
	--pressed: -.2em;
}

[component^=panel-link]:active{
	--pressed: .4em;
}

[component^=panel-link] img{
	height: 2em;
	position: absolute;
	margin: .75em;
}
@media only screen and (max-width: 30em) {
	[component^=panel-link] img{
		display: none;
	}
  }

[component^=panel-link-small] {
	flex-basis: 0;
	padding: 0;
	--scale: 1.03;
	padding-bottom: 0.5em;
}

[component^=panel-link-small] p {
	padding-bottom: 1em;
	padding: 0 1em 1em 1em;
}

[component^=panel-link] h2 {
	margin: .2em 0;
}

[component^=panel-link-f]{
	min-width: 22.5em;
	overflow: hidden;
}

[component^=panel-link-f] p {
	font-size: 3.5em;
	font-family: var(--font-url);
}

[component^=panel-link-f] h2 {
	font-size: 1.3em;
	font-family: notosans;
}

[component^=panel-link-f] .negmargin {
	margin-top: -1.3em;
	margin-bottom: -1em;

}

[component^=panel-link-f] .big {
	font-size: 2.3em;
	margin-top: .4em;

}

/* about me */

.about-me {
	margin: 0 auto;
	display: grid;
	grid-template-areas: "title image" "text image" "spacer image";
	grid-template-rows: min-content min-content;
	grid-template-columns: 1fr 30%;
	font-size: 1.1rem;
	height: 100%;
}

.about-me h2 {
	margin: 0em;
	padding-top: 0.3em;
	text-align: left;
	grid-area: title;
	color: var(--colour-text-xlight);
	font-weight: normal;
	font-size: 2.1em;
	padding-bottom: 0.05em;
}

.about-me p {
	padding-bottom: 3.7em;
	margin: 0;
	padding-top: 0.3em;
	text-align: left;
	grid-area: text;
	color: var(--colour-text-xlight);
	font-family: notosans;
	font-size: 1em;
}

.about-me .fake-img{
	height: 90%;
	margin-top: auto;
	margin-left: 2em;
	grid-area: image;
	background-position: bottom;
}
@media (max-width: 60em) {
	.about-me{
		grid-template-columns: 1fr 0;
	}
	.about-me .fake-img{
		display: none;
	}
}

.about-us > h2 {
	background-color: var(--colour-bg-light);
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	margin: 0%;
	text-align: center;
	color: var(	--colour-text-dark);
	font-weight: normal;
	font-size: 2em;
	max-width: 12em;
	margin: 0 auto;
	margin-top: .8em;
	
}

.about-us {
	margin-top: .8em;
	
}

iframe[component^=video-embed] {
	width: 100%;
	aspect-ratio: var(--aspect-ratio);
}


[component^=text-block] {
	width: 100%;
	max-width: 60em;
	margin: 0 auto;
	text-align: center;
	color: var(--colour-text-xlight);
}
[component^=text-block] h2 {
	font-weight: 100;
	font-size: 3.2em;
	margin: 0;
}
[component^=text-block] p {
	font-family: notosans, system-ui;
}
[component^=text-block] img {
	width: 100%;
}
[component^=text-block-instructions] {
	text-align: left;
}
[component^=text-block-instructions] p {
	margin: 0;
}


[component^=image-list] {
	width: 100%;
	padding: 0 calc((100% - var(--width,60%)) / 2);
	margin: 1em 0;
}
[component^=image-list] h2{
	font-weight: 100;
	font-size: 1.8em;
	text-align: center;
	margin: 0;
	color: var(--colour-text-dark);
}
[component^=image-list] p{
	font-weight: 100;
	font-size: 1.2em;
	text-align: center;
	margin: 0;
	font-family: notosans;
	color: var(--colour-text-dark);
	opacity: 60%;
}
[component^=image-list] img{
	width: 100%;
	margin-top: 2.5em;
}
[component^=image-list] div{
	position: relative;
}
[component^=image-list] div:has( > img[src$=".svg"])::after{
	content: "svg";
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
margin-left: 2em;
	background-color: var(--colour-text-dark);
	padding: .2em .4em .4em;
	border-radius: .4em;

}

/* TODO: remove this dirty has selecctor fallback when firefox adds support (which they claimed was the first half of 2023 however it is now the second half and still no :has) */
body{ height: 100vh; }
@supports selector(body:has(>.snap-scroll)) {
	body{ height: auto; }
	/* this selector is the only one that is nessisary once FIREFOX adds suport for :has */
	body:has(>.snap-scroll) {
		height: 100vh;
	}
}

.snap-scroll{
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	margin: 0;
}

.snap-scroll > *{
	height: 100%;
	max-height: 40em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: center;
	scroll-behavior: smooth;
	--width: 70%;
}

.snap-scroll img{
	margin: 0;
}

[component^="embed-page"]{
	padding: 0;
}

[component^="embed-page"] > iframe{
	display: block;
	border: none;
	width: 100%;
	height: 100%
}

/* footer */
footer{
	width: 100%;
	padding: var(--footer-padding);
	font-size: var(--footer-height);
	display: block;
	color: var(--footer-logo-colour);
	background-color: var(--footer-background-colour);
}
footer svg{
	height: 1em;
}
footer ul li#twitterLinkFooter:hover,
footer ul li#twitterLinkFooter a:focus-visible{
	color: #1d9bf0;
}

footer ul li#discordLinkFooter:hover,
footer ul li#discordLinkFooter a:focus-visible{
	color: #5865f2;
}
footer ul li#youtubeLinkFooter:hover,
footer ul li#youtubeLinkFooter a:focus-visible{
	color: #ff0000;
}
footer ul{
	justify-content: center;
	gap: 1em;
	margin: 0;
	list-style-type: none;
	padding: 0;
	display: flex;
}
footer ul a{
	color: inherit;
}

/* screenReader */

.non-visual{
	opacity: 0;
	outline-color: transparent;
	overflow: hidden;
	width: 1px;
	height: 1px;
	display: block;
	position: absolute;
}

