@font-face {
            font-family: mc-ten-japanese;
            src: url('/fonts/sinmeadia/Japanese Version/mc-ten-japanese.ttf');
            font-weight: bold;
            font-style: normal;
        }