@font-face {
            font-family: mc-five-lowercase;
            src: url('/fonts/DMart/Weird and Unrelated/mc-five-lowercase.ttf');
            font-weight: bold;
            font-style: normal;
        }