@font-face {
            font-family: minecraft-ten-360;
            src: url('/fonts/DMart/Weird and Unrelated/minecraft-ten-360.ttf');
            font-weight: bold;
            font-style: normal;
        }