@font-face {
            font-family: MinecraftFiveLowercase-Bold;
            src: url('/fonts/DMart/MinecraftFiveLowercase-Bold.otf');
            font-weight: bold;
            font-style: normal;
        }