@font-face {
            font-family: dungeons-alt-lowercase;
            src: url('/fonts/patred/dungeons-alt-lowercase.ttf');
            font-weight: bold;
            font-style: normal;
        }