@font-face {
            font-family: minecraft-ten-lowercase;
            src: url('/fonts/patred/minecraft-ten-lowercase.ttf');
            font-weight: bold;
            font-style: normal;
        }