@font-face {
            font-family: minecraft-eighteen;
            src: url('/fonts/DMart/Other Games/minecraft-eighteen.ttf');
            font-weight: bold;
            font-style: normal;
        }