@font-face {
            font-family: MinecraftClassic-Bold;
            src: url('/fonts/sinmeadia/MinecraftClassic-Bold.ttf');
            font-weight: bold;
            font-style: normal;
        }