@font-face {
            font-family: minecraft-seven-classic;
            src: url('/fonts/sinmeadia/Weird and Unrelated/minecraft-seven-classic.ttf');
            font-weight: bold;
            font-style: normal;
        }