@font-face {
            font-family: slimetime-arcade;
            src: url('/fonts/sinmeadia/Weird and Unrelated/slimetime-arcade.ttf');
            font-weight: bold;
            font-style: normal;
        }