@font-face {
            font-family: mc-ten-education;
            src: url('/fonts/sinmeadia/Other Games/mc-ten-education.ttf');
            font-weight: bold;
            font-style: normal;
        }