@font-face {
            font-family: minecrafter-dungeons;
            src: url('/fonts/sinmeadia/Other Games/minecrafter-dungeons.ttf');
            font-weight: bold;
            font-style: normal;
        }