@font-face {
            font-family: minecrafter-legends;
            src: url('/fonts/sinmeadia/Other Games/minecrafter-legends.ttf');
            font-weight: bold;
            font-style: normal;
        }